
<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand pull-left" href="#/page-list">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand col-m-6 pull-right" href="#/widget-choose">
            <span class=" glyphicon glyphicon-plus"></span>
        </a>
        <a class="navbar-header">
            <a class="navbar-brand white" href="#">Widgets</a>
        </a>
    </div>
</nav>


<div class="container-fluid">
    <div class="list-group relative zero-right-padding">
        <img class="img-responsive"
             src="http://fatale.honeyee.com/blog/skajino/upload/DSC_8293.jpg"
             alt="Sample Image"/>
        <div class="absolute listmenu zero-right-padding">
            <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            <a href="#/widget-image"><span class="glyphicon glyphicon-cog"></span></a>
        </div>
    </div>


    <div class="list-group relative zero-right-padding">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/QGj8ro1ttfA" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="absolute listmenu zero-right-padding">
            <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            <a href="#/widget-youtube"><span class="glyphicon glyphicon-cog"></span></a>
        </div>
    </div>

    <div class="list-group relative zero-right-padding">
        <h3 class="blue">Hiroki Nakamura</h3>
        <div class="absolute listmenu zero-right-padding">
            <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            <a href="#/widget-heading"><span class="glyphicon glyphicon-cog"></span></a>
        </div>
    </div>


    <div class="list-group relative zero-right-padding">
        <p>
            He is the Japanese designer behind Visvim. Two syllables that spell style for purists who see it as a
            religion more than a brand. The ideal ambassador, good–looking, a doer not a talker, Hiroki Nakamura
            continues to quietly carve out his own very personal route.
        </p>
        <div class="absolute listmenu zero-right-padding">
            <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            <a href="#/widget-heading"><span class="glyphicon glyphicon-cog"></span></a>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand pull-left" href="#">
            <span class="glyphicon glyphicon-play"></span></a>
        <a class="navbar-brand pull-left" href="#">
            <span class="glyphicon glyphicon-eye-open"></span></a>
        <a class="navbar-brand pull-right" href="#/profile">
            <span class="glyphicon glyphicon-user blue"></span></a>
    </div>
</nav>
