
<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand pull-left" href="#/widget-list">
            <span class="glyphicon glyphicon-chevron-left"></span></a>
        <div class="navbar-header">
            <a class="navbar-brand white" href="#">Wdiget Edit</a>
        </div>
        <a class="navbar-brand col-m-6 pull-right" href="#/widget-list">
            <span class=" glyphicon glyphicon-ok"></span></a>
    </div>
</nav>


<div class="container">
    <br>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="title">Text</label>
            <input type="email" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="email" class="form-control" id="url" placeholder="https://youtube.be/uLWLashCXHE">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input type="email" class="form-control" id="width">
        </div>
        <a class="btn btn-danger  btn-block" href="#/widget-list">Delete</a>
    </form>

</div>

<nav class="navbar navbar-fixed-bottom navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand pull-right" href="#/profile">
            <span class="glyphicon glyphicon-user blue"></span></a>
    </div>
</nav>